@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1, h2, h3 {
    font-family: Outfit, sans-serif;
    text-decoration: none;
    color: #302116;
}

h1 {
    font: normal 450 45px Outfit;
}

h2 {
    font: normal 350 35px Outfit;
}

h3 {
    font: normal 300 20px Outfit;
}

a, p {
    font-family: Outfit, sans-serif;
    color: #3C291B;
    text-decoration: none;
    /* TODO: create tree cursor */
    /* cursor: url('https://img.freepik.com/premium-photo/hand-drawn-house-plant-clip-art-isolated-white-background-green-leaves-flower-pot-illustration-house-plant-clipart_408078-309.jpg'), auto; */
}

a:hover {
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    text-shadow: 0 0 8px var(--light-color);
    color: #000000;
}

body {
    background-color: #e4e4e4;
    margin: 0;
}

.navBar {
    width: 100%;
    align-items: center;
    background-color: #9E9280;
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
    border-bottom: 0.25em solid #302116;
}

.head {
    text-align: center;
    height: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    width: 50px;
    margin: 15px;
    text-align: center;
    font-size: 20px;
}

.background {
    position: fixed;
    width: 130%;
    height: 100%;
    object-fit: cover;
    top: 10%;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.openerContainer {
    width: 80%;
    height: 100%;
    border-radius: 0.8em;
    margin: 12em 10% auto 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#line1 {
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    color: #302116;
    font: normal 350 2.15em Outfit;
    text-shadow: 1px 1px 15px #9c8575;
}

#line2 {
    padding-top: 5%;
    display: flex;
    justify-content: flex-end;
    color: #302116;
    font: normal 600 2.75em Outfit;
    text-shadow: 1px 1px 28px #998578;
}

.quoteContainer {
    border-top: 0.5em solid #000000;
    width: 100%;
    height: 100%;
    background-color: #302116;
    margin: 20em auto 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    position: relative;
}

.quoteContainer > div {
    padding-top: 10%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #e4e4e4;
    font: normal 375 1.75em Outfit;
}

.testimonialContainer {
    width: 100%;
    height: 100%;
    background-color: #302116;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
}

#testImg {
    width: 90%;
    height: 90%;
    margin: 0;
}

#testImg:hover {
    scale: 1.03;
    box-shadow: 16px 16px var(--shadow);
    transition: all 0.2s;
}

.testimonialContainer2 {
    width: 100%;  
    height: 20em; 
    overflow: hidden; 
    position: relative; 
    border-bottom: 0.5em solid #000000;
}

.testimonial2 {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    object-position: center center;
    position: absolute;   
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    filter: brightness(0.9);
    z-index: -2;
}

.quoteContainer2 {
    width: 100%;
    height: 100%;
    background-color: #302116;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
    border-bottom: 0.25em solid #e4e4e4;
}

.quoteContainer2 > div {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 1em;
    display: flex;
    text-align: left;
    justify-content: center;
    color: #e4e4e4;
    font: normal 350 1.5em Outfit;
}

#important {
    padding-left: 50px;
    font: normal 450 3em Outfit;
}

.actionContainer {
    width: 100%;
    height: auto;
    background-color: #e4e4e4;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    border-bottom: 0.5em solid #302116;
}

.imageContainer {
    position: relative;
    width: 30%;
    text-align: center;
}

.imageContainer img {
    width: 100%;
    height: auto;
    display: block;
}

.imageContainer div {
    font: normal 450 2.5em Outfit;
    color: #e4e4e4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageContainer:hover {
  scale: 1.03;
  box-shadow: 16px 16px var(--shadow);
  transition: all 0.2s;
}

.imageContainer div a {
    color: #e4e4e4;
    text-shadow: 1px 1px 28px #4d3e35;
}


.footerContainer {
    padding: 30px;
    background-color: #e4e4e4;
}